html {
    scroll-behavior: smooth;
}

.flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
}
/*Phones/Tablets*/
.flex-row>* {
    flex: 100%;
    background-color: grey;
    border-radius: 15px;
    flex-grow: 0;
    align-content: space-around;
    padding: 20px;
    margin: 10px;
}
/*Desktops*/
@media only screen and (min-width: 768px) {
    .flex-row>* {
        flex: 45%;
        background-color: grey;
        border-radius: 15px;
        flex-grow: 0;
        align-content: space-around;
        padding: 20px;
        margin: 10px;
    }
}


nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;
}

nav li {
    float: left;
}


nav li:last-child {
    float: right;
    background-color: purple,
}


li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

header {
    font-size: 1.4em;
}